<header>
<h1>Welcome to Tapir Grocer!</h1>
</header>

<p>Tapir Grocer has been a trusted name in fresh produce as well as top quality local and imported products.<br>
   A pioneer in modern supermarket shopping, Tapir Grocer, sets the pace for the industry with innovative marketing, impressive store design, attractive pricing and great variety.</p>
   
<p>To assist in monitoring COVID-19 outbreak in the country, please use Tapir Grocer Contact Tracer to combat the spread of the COVID-19 virus.</p>

<p>This application also provides the Ministry of Health (MOH) with the necessary information to plan for early and effective countermeasures.</p>

<%= link_to 'Visitors', controller: 'visitors' %>
<%= link_to 'Location Owners', controller: 'signups' %>
