// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// color palete #EFCEAA, #514538, #B7A99A, #9CD2BA, #689B85
  body {
    font: 16px Montserrat, sans-serif;
    line-height: 1.8;
    color: #514538;
  }
  
  a {
    border: 0px none #689B85;
    border-radius: 40px 40px 40px 40px;
  }